body {
    margin: 0;
    padding: 0;
}

.background {
	background: url(img/polka.jpg) repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@font-face {
    font-family: berry;
    src: url(fonts/Berry_Merry.otf);
}

@font-face {
    font-family: peralta;
    src: url(fonts/Peralta-Regular.ttf);
}

@font-face {
	font-family: NotoSerifKR_R;
	src: url(fonts/NotoSerifKR-Bold.otf)
}

@font-face {
	font-family: NotoSerifKR_L;
	src: url(fonts/NotoSerifKR-Light.otf)
}


h1 {
    color: black;
    font-family: peralta;
}

.hamster {
    text-align: center;
}

.requete {
	margin-top: 50px;
	margin-bottom: 15px;
	font-family: NotoSerifKR_L;
	font-size: 150%;
}

.happy {
	margin-bottom: 15px;
	font-family: NotoSerifKR_R;
	font-size: 150%;
}

.bouton {
	margin: 20px;
	background-color: #FF69B4;
	color: white;
	text-align: center;
	font-family: berry;
	font-size: 150%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
